<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to the Home page</h1>
    <a href="/login.html">Go to Login</a>
    <a href="/signup.html">Go to Sign Up</a>
  </body>
</html>
